@font-face {
    font-family: "MontserratBoldItalic";
    src: url("../assets/fonts/Montserrat/static/Montserrat-BoldItalic.ttf");
}

@font-face {
    font-family: "MontserratBold";
    src: url("../assets/fonts/Montserrat/static/Montserrat-Bold.ttf");
}

@font-face {
    font-family: "MontserratRegular";
    src: url("../assets/fonts/Montserrat/static/Montserrat-Regular.ttf");
}

@font-face {
    font-family: "MontserratRegularItalic";
    src: url("../assets/fonts/Montserrat/static/Montserrat-Italic.ttf");
}

body {
    background-color: #222222;
    padding: 0 3em;
}

body * {
    font-family: "MontserratRegular";
    color: white;
}

hr {
    border-color: rgba(255, 255, 255, 0.17);
    margin: 1em 0;
}

footer {
    text-align: center;
    font-family: "MontserratRegular";
    padding: 1em;
    font-size: 1.5em;
}

.page_heading {
    margin-top: 1em;
}

.heading_logo {
    height: 8em;
}

.page_heading>nav {
    float: right;
    height: 6.5em;
    display: flex;
    align-items: end;
}

.page_heading>nav>a {
    display: inline-block;
    background-image: url("../assets/images/underline_arrow_gold.svg");
    background-size: contain;
    background-position: -10em 0.72em;
    background-repeat: no-repeat;
    transition: background-position 0.2s;
}

.page_heading>nav>a:hover {
    background-position: 0 0.72em;
}

.page_heading>nav>* {
    text-decoration: none;
    margin-left: 2em;
    font-size: 1.5em;
    font-family: "MontserratBold";
}

.underline_arrow_gold {
    display: inline-block;
    background-image: url("../assets/images/underline_arrow_gold.svg");
    background-size: contain;
    background-position: 0 0.72em;
    background-repeat: no-repeat;
    font-family: inherit;
}

.underline_arrow_maroon {
    display: inline-block;
    background-image: url("../assets/images/underline_arrow_maroon.svg");
    background-size: contain;
    background-position: 0 0.72em;
    background-repeat: no-repeat;
    font-family: inherit;
}

.banner_text {
    font-size: 4.5em;
    font-family: "MontserratBoldItalic";
}