.form_page_container {
    display: flex;
    margin-top: 6em;
    gap: 3em
}

.form_page_container>*:first-child {
    flex: 1;
}

.form_page_container>*:first-child p {
    font-size: 1.5em;
}

.form_page_container>form {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 1em;
    max-width: 21em;
    font-size: 1.5em;
}

.form_page_container input,
.form_page_container button,
.form_page_container textarea {
    border: none;
    background-color: #4e4e4e;
    border-radius: 0.25em;
    padding: 1em;
    font-family: "MontserratBold";
}

.form_page_container button {
    background-color: white;
    color: #222222;
    transition: background-color 0.1s;
}

.form_page_container button:hover {
    background-color: #FFC627;
    cursor: pointer;
}

#status_indicator {
    font-family: "MontserratBold";
    display: none;
    padding: 0;
    margin: 0;
}