#banner_block {
    height: 30em;
    display: flex;
    gap: 1em;
    margin-bottom: 3em;
}

#banner_block>h1 {
    flex: 1;
}

#banner_block>p {
    display: flex;
    font-size: 2.5em;
    align-items: end;
    flex: 1;
}

#banner_block span {
    font-family: inherit;
}

#crow_quote_container {
    display: flex;
    margin-left: -6em;
    margin-bottom: 7em;
    align-items: center;
}

#crow_quote_container>img {
    width: 20em;
    aspect-ratio: 16/9;
    flex: 2;
    clip-path: polygon(0% 0%, 100% 0%, 87% 50%, 100% 100%, 0% 100%);
}

#crow_quote_container>p {
    flex: 1;
    font-size: 1.5em;
    font-family: "MontserratRegularItalic";
}

#benefits_main_header {
    text-align: center;
}

#key_benefits_container {
    display: flex;
    gap: 3em;
    margin-bottom: 5em;
}

#key_benefits_container h2 {
    font-family: "MontserratBold";
}

#key_benefits_container p {
    font-size: 1.5em;
}

#testimonials_container {
    display: flex;
    margin-top: 5em;
    gap: 2em;
}

#testimonials_container>h1 {
    flex: 1;
}

#testimonials_container>div {
    display: flex;
    flex: 1.5;
    flex-direction: column;
}

#testimonials_container>div>div {
    margin-bottom: 3em;
    display: flex;
    align-items: center;
}

#testimonials_container p {
    font-family: "MontserratRegularItalic";
    font-size: 1.5em;
}

#testimonials_container img {
    width: 10em;
    height: 10em;
    border-radius: 50%;
    margin-right: 2em;
}