#post_listing_bttn {
    border: none;
    background-color: #4e4e4e;
    border-radius: 0.25em;
    padding: 1em;
    font-family: "MontserratBold";
    font-size: 1em;
    margin: 1em 0;
    transition: background-color 0.1s;
}

#post_listing_bttn:hover {
    background-color: #FFC627;
    cursor: pointer;
    color: #222222;
}

#profile_info {
    display: flex;
    gap: 5em;
    align-items: center;
    margin: 3em 0;
}

#profile_info img {
    width: 20em;
    height: 20em;
    border-radius: 0.25em;
}